
<div class="card container">
    <div class="card-header" *ngIf="livres.length>0" >
        <h1>{{grandTitre}}</h1>
    </div>
    <div class="row row-space">
        <div class="col-2">
            <button class="btn btn-primary" (click)='onclick()'>{{affichage ? 'Cacher':'Afficher'}}</button>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-3">
            <select  name="" id="" [(ngModel)]='categoryId' (change)="changeCategory()">
                <option value="all"> 
                    Catégories </option>
                <option [value]="categorie" *ngFor="let categorie of listCategorie">
                    {{categorie}}</option>
            </select>
        </div>
    </div>
    <div class="card-body"> 
       <div class="table-responsive" *ngIf="affichage">
        <table class="table" >
            <thead>
                <tr>
                    <td>Image</td>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Etoile</th>
                </tr>
            </thead>
            <tr [ngStyle]="{'color':livre.Book_Name=='Angular'? 'red': 'blue'}" *ngFor="let livre of livres">
            <td><img [src]="livre.Book_ImageUrl" [height]="HeightImage" [width]="WidthImage"></td>
            <td> {{livre.Book_Name | uppercase}}</td>
            <td> {{livre.Book_ShortDescription}}</td>
            <td> {{livre.Book_Category | uppercase | deleteSpace}}</td>
            <td> {{livre.Book_Price | currency :"EUR":true | uppercase }}</td>
            <td> {{livre.Book_Etoile}}</td>
            </tr>
            <tbody>
            </tbody>
        </table>
       </div>
    </div>
</div>