
<div class="card">
    <div class="card-header" *ngIf="livres.length>0" >
        <h1>{{grandTitre}}</h1>
    </div>
    <div class="card-body"> 
       <div class="table-responsive">
        <table class="table" *ngIf="livres.length>0">
            <thead>
                <tr>
                    <td>Image</td>
                    <th>Titre</th>
                    <th>Detail en image</th>
                    <th>Description</th>
                    <th>Catégorie</th>
                    <th>Prix</th>
                    <th>Etoile</th>
                </tr>
            </thead>
            <tr [ngStyle]="{'color':livre.Name=='Angular'? 'red': 'blue'}" *ngFor="let livre of livres">
            <td><img [src]="livre.ImageUrl" [height]="HeightImage" [width]="WidthImage"></td>
            <td> {{livre.Name}}</td>
            <td> {{livre.ShortDescription}}</td>
            <td> {{livre.Price}}</td>
            <td> {{livre.Category}}</td>
            <td> {{livre.Etoile}}</td>
            
            </tr>
            <tbody>
            </tbody>
        </table>
       </div>
    </div>
</div>